#rectangle {
    width: 1200px;
    height: 1200px;
    background-color: red;
    z-index: -1;
    position: relative;
    margin: 50px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
  }